Source: gnome-shell-ubuntu-extensions
Section: gnome
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Uploaders: Marco Trevisan (Treviño) <marco@ubuntu.com>
Build-Depends: debhelper-compat (= 13),
               dh-sequence-gnome (>= 0.22),
Standards-Version: 4.7.2
Vcs-Browser: https://github.com/ubuntu/gnome-shell-ubuntu-extensions
Vcs-Git: https://github.com/ubuntu/gnome-shell-ubuntu-extensions
Homepage: https://github.com/ubuntu/gnome-shell-ubuntu-extensions

Package: gnome-shell-ubuntu-extensions
Architecture: all
Depends: gnome-shell-extension-appindicator,
         gnome-shell-extension-desktop-icons-ng,
         gnome-shell-extension-ubuntu-tiling-assistant,
         gnome-shell-extension-ubuntu-dock,
         ${misc:Depends}
Suggests: gnome-shell-extension-prefs
Description: Ubuntu official Extensions to extend functionality of GNOME Shell
 GNOME Shell is extensible using extensions. This serves both as a dependency
 package for the official Ubuntu GNOME Shell extensions and includes some of
 them.
